@font-face {
  font-family: "fmy-simple-basic";
  /* Project id 4308894 */
  src: url('iconfont.woff2?t=1745542404101') format('woff2'),
    url('iconfont.woff?t=1745542404101') format('woff'),
    url('iconfont.ttf?t=1745542404101') format('truetype');
}

.fmy-simple-basic {
  font-family: "fmy-simple-basic" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fmy-customCode:before {
  content: "\e6c8";
}

.fmy-saveComponent:before {
  content: "\e673";
}

.fmy-pageRecommend:before {
  content: "\e6aa";
}

.fmy-aiCreate:before {
  content: "\e76b";
}

.fmy-branches:before {
  content: "\ebd3";
}

.fmy-addTree:before {
  content: "\e665";
}

.fmy-viewTree:before {
  content: "\e6a9";
}

.fmy-revocateProcess:before {
  content: "\e653";
}

.fmy-startProcess:before {
  content: "\e6a8";
}

.fmy-flowChart:before {
  content: "\e654";
}

.fmy-auditProcess:before {
  content: "\e657";
}

.fmy-styleSetting:before {
  content: "\e622";
}

.fmy-deleteTree:before {
  content: "\e671";
}

.fmy-activeProcess:before {
  content: "\e695";
}

.fmy-editTree:before {
  content: "\e69a";
}

.fmy-suspendProcess:before {
  content: "\e6a6";
}

.fmy-foreachBreak:before {
  content: "\e6a7";
}

.fmy-foreachEnd:before {
  content: "\e6c4";
}

.fmy-viewMoreProcess:before {
  content: "\e6c5";
}

.fmy-foreachStart:before {
  content: "\e6c6";
}

.fmy-viewSingleProcess:before {
  content: "\e6c7";
}

.fmy-viewModelField:before {
  content: "\e6ca";
}

.fmy-viewModelSql:before {
  content: "\e6a5";
}

.fmy-mapDataModel:before {
  content: "\e61a";
}

.fmy-defaultDataModel:before {
  content: "\e69b";
}

.fmy-basicDataModel:before {
  content: "\e69e";
}

.fmy-apiDataModel:before {
  content: "\e6a3";
}

.fmy-viewDataModel:before {
  content: "\e6a4";
}

.fmy-bpmnCloseFlow:before {
  content: "\e75e";
}

.fmy-bpmnCloseLint:before {
  content: "\e756";
}

.fmy-bpmnCloseMap:before {
  content: "\e75b";
}

.fmy-bpmnOpenMap:before {
  content: "\e758";
}

.fmy-bpmnOpenFlow:before {
  content: "\e755";
}

.fmy-bpmnOpenLint:before {
  content: "\e753";
}

.fmy-bpmnContentLeft:before {
  content: "\e754";
}

.fmy-bpmnContentRight:before {
  content: "\e759";
}

.fmy-bpmnContentCenter:before {
  content: "\e761";
}

.fmy-bpmnInfo:before {
  content: "\e61c";
}

.fmy-dynamicForm:before {
  content: "\e61d";
}

.fmy-lastStep:before {
  content: "\e61e";
}

.fmy-iframe:before {
  content: "\e61f";
}

.fmy-bpmnExport:before {
  content: "\e620";
}

.fmy-nextStep:before {
  content: "\e621";
}

.fmy-signCanvas:before {
  content: "\e663";
}

.fmy-dateTimeRange:before {
  content: "\e666";
}

.fmy-currentTime:before {
  content: "\e66e";
}

.fmy-dateRange:before {
  content: "\e672";
}

.fmy-bpmnPreview:before {
  content: "\e677";
}

.fmy-openLine:before {
  content: "\e678";
}

.fmy-flexBottom:before {
  content: "\e757";
}

.fmy-flexTop:before {
  content: "\e75c";
}

.fmy-flexCenter:before {
  content: "\e75d";
}

.fmy-wenjianjia:before {
  content: "\e651";
}

.fmy-help:before {
  content: "\e619";
}

.fmy-newTab:before {
  content: "\e617";
}

.fmy-editOther:before {
  content: "\e618";
}

.fmy-Infinite:before {
  content: "\e675";
}

.fmy-groupVersion:before {
  content: "\e616";
}

.fmy-exportValidate:before {
  content: "\e614";
}

.fmy-vantMapPosition:before {
  content: "\e6b6";
}

.fmy-vantMapEndDraw:before {
  content: "\e6b7";
}

.fmy-vantMapChange:before {
  content: "\e6c0";
}

.fmy-vantMapClearDraw:before {
  content: "\e6c1";
}

.fmy-vantMapEditDraw:before {
  content: "\e6c2";
}

.fmy-vantMapDraw:before {
  content: "\e6c3";
}

.fmy-liked:before {
  content: "\ec8c";
}

.fmy-application:before {
  content: "\e60f";
}

.fmy-exportPage:before {
  content: "\e610";
}

.fmy-templateMall:before {
  content: "\e611";
}

.fmy-largeScreen:before {
  content: "\e742";
}

.fmy-fire:before {
  content: "\e60e";
}

.fmy-like:before {
  content: "\ec7f";
}

.fmy-closeDrawer:before {
  content: "\e600";
}

.fmy-enabledComponent:before {
  content: "\e601";
}

.fmy-openDrawer:before {
  content: "\e608";
}

.fmy-calculate2DMapFeaturesLength:before {
  content: "\e679";
}

.fmy-calculate2DMapFeaturesArea:before {
  content: "\e67a";
}

.fmy-add2DMapLayer:before {
  content: "\e67b";
}

.fmy-delete2DMapLayer:before {
  content: "\e67c";
}

.fmy-overlayLayers2DMapIntersect:before {
  content: "\e67d";
}

.fmy-drawEnd2DMap:before {
  content: "\e67e";
}

.fmy-clear2DMapLayer:before {
  content: "\e67f";
}

.fmy-overlayLayers2DMapUnion:before {
  content: "\e680";
}

.fmy-delete2DMapOverlay:before {
  content: "\e681";
}

.fmy-clear2DMapOverlay:before {
  content: "\e682";
}

.fmy-query2DMapFeature:before {
  content: "\e683";
}

.fmy-set2DMapMaxRange:before {
  content: "\e684";
}

.fmy-set2DMapZoom:before {
  content: "\e685";
}

.fmy-add2DMapOverlay:before {
  content: "\e686";
}

.fmy-set2DMapCenter:before {
  content: "\e687";
}

.fmy-set2DMapMaxZoom:before {
  content: "\e688";
}

.fmy-set2DMapMinZoom:before {
  content: "\e689";
}

.fmy-pointQuery2DMap:before {
  content: "\e68a";
}

.fmy-overlayLayers2DMapExcept:before {
  content: "\e68b";
}

.fmy-disableComp:before {
  content: "\e652";
}

.fmy-addData:before {
  content: "\e655";
}

.fmy-allSatisfied:before {
  content: "\e656";
}

.fmy-closeDialog:before {
  content: "\e658";
}

.fmy-closePopup:before {
  content: "\e659";
}

.fmy-deleteData:before {
  content: "\e65b";
}

.fmy-editData:before {
  content: "\e65c";
}

.fmy-defineVar:before {
  content: "\e65f";
}

.fmy-clickComp:before {
  content: "\e660";
}

.fmy-calcVar:before {
  content: "\e661";
}

.fmy-hideComp:before {
  content: "\e662";
}

.fmy-openDialog:before {
  content: "\e664";
}

.fmy-skipPage:before {
  content: "\e667";
}

.fmy-showComp:before {
  content: "\e668";
}

.fmy-viewMoreData:before {
  content: "\e669";
}

.fmy-resetComp:before {
  content: "\e66a";
}

.fmy-setValueVar:before {
  content: "\e66b";
}

.fmy-singleSatisfied:before {
  content: "\e66c";
}

.fmy-refreshComp:before {
  content: "\e66d";
}

.fmy-viewSingleData:before {
  content: "\e66f";
}

.fmy-openPage:before {
  content: "\e670";
}

.fmy-openPopup:before {
  content: "\e674";
}

.fmy-setValueComp:before {
  content: "\e676";
}

.fmy-batchAddData:before {
  content: "\e69d";
}

.fmy-batchDeleteData:before {
  content: "\e69f";
}

.fmy-step:before {
  content: "\e690";
}

.fmy-popup:before {
  content: "\e693";
}

.fmy-noticeBar:before {
  content: "\e694";
}

.fmy-list:before {
  content: "\e6a0";
}

.fmy-transparency:before {
  content: "\e698";
}

.fmy-mapDraw:before {
  content: "\e697";
}

.fmy-map3dArea:before {
  content: "\e6ab";
}

.fmy-map3dHeight:before {
  content: "\e6ac";
}

.fmy-map3dHeightLimit:before {
  content: "\e6ad";
}

.fmy-mapFullscreen:before {
  content: "\e6ae";
}

.fmy-map3dIntervisib:before {
  content: "\e6af";
}

.fmy-map3dProfile:before {
  content: "\e6b0";
}

.fmy-mapArea:before {
  content: "\e6b1";
}

.fmy-mapDraw1:before {
  content: "\e6b2";
}

.fmy-mapDropPlane:before {
  content: "\e6b3";
}

.fmy-mapClick:before {
  content: "\e6b4";
}

.fmy-mapDropLine:before {
  content: "\e6b5";
}

.fmy-map3dLength:before {
  content: "\e6b8";
}

.fmy-mapFeature:before {
  content: "\e6b9";
}

.fmy-mapRoam:before {
  content: "\e6ba";
}

.fmy-mapLocate:before {
  content: "\e6bb";
}

.fmy-mapLength:before {
  content: "\e6bc";
}

.fmy-mapDelete:before {
  content: "\e6bd";
}

.fmy-map3dSubmerge:before {
  content: "\e6be";
}

.fmy-mapDropPoint:before {
  content: "\e6bf";
}

.fmy-mapServer:before {
  content: "\e6cf";
}

.fmy-codePreview:before {
  content: "\e69c";
}

.fmy-docFile:before {
  content: "\e63f";
}

.fmy-rarFile:before {
  content: "\e7a8";
}

.fmy-zipFile:before {
  content: "\e696";
}

.fmy-otherFile:before {
  content: "\e76a";
}

.fmy-txtFile:before {
  content: "\e7c7";
}

.fmy-pptFile:before {
  content: "\e766";
}

.fmy-xlsFile:before {
  content: "\e767";
}

.fmy-pdfFile:before {
  content: "\e768";
}

.fmy-imgFile:before {
  content: "\e699";
}

.fmy-videoFile:before {
  content: "\e769";
}

.fmy-applicationRelease:before {
  content: "\e73d";
}

.fmy-exportCode:before {
  content: "\e65e";
}

.fmy-tree-file:before {
  content: "\e606";
}

.fmy-tree-folder:before {
  content: "\e607";
}

.fmy-threeDMap:before {
  content: "\e6a1";
}

.fmy-map:before {
  content: "\e6a2";
}

.fmy-previewDoc:before {
  content: "\e65a";
}

.fmy-timeRangePicker:before {
  content: "\e691";
}

.fmy-area:before {
  content: "\e68c";
}

.fmy-doughnut:before {
  content: "\e692";
}

.fmy-dateRangePicker:before {
  content: "\e68e";
}

.fmy-video:before {
  content: "\e65d";
}

.fmy-calendar:before {
  content: "\e8b4";
}

.fmy-drawer:before {
  content: "\e71a";
}

.fmy-editor:before {
  content: "\e68f";
}

.fmy-avatar:before {
  content: "\e73e";
}

.fmy-save:before {
  content: "\e603";
}

.fmy-setCenter:before {
  content: "\e604";
}

.fmy-openLock:before {
  content: "\e605";
}

.fmy-paste:before {
  content: "\e609";
}

.fmy-closeLock:before {
  content: "\e60a";
}

.fmy-applicationConfiguration:before {
  content: "\e61b";
}

.fmy-preview:before {
  content: "\e60c";
}

.fmy-delete:before {
  content: "\e60d";
}

.fmy-copy:before {
  content: "\e613";
}

.fmy-bar:before {
  content: "\e60b";
}

.fmy-breadcrumb:before {
  content: "\e612";
}

.fmy-button:before {
  content: "\e623";
}

.fmy-card:before {
  content: "\e624";
}

.fmy-carousel:before {
  content: "\e625";
}

.fmy-color-picker:before {
  content: "\e626";
}

.fmy-collapse:before {
  content: "\e627";
}

.fmy-checkbox:before {
  content: "\e628";
}

.fmy-cascader:before {
  content: "\e629";
}

.fmy-descriptions:before {
  content: "\e62a";
}

.fmy-dialog:before {
  content: "\e62b";
}

.fmy-divider:before {
  content: "\e62c";
}

.fmy-flex:before {
  content: "\e62d";
}

.fmy-grid:before {
  content: "\e62e";
}

.fmy-gauge:before {
  content: "\e62f";
}

.fmy-file-upload:before {
  content: "\e630";
}

.fmy-bar-line:before {
  content: "\e631";
}

.fmy-piece:before {
  content: "\e632";
}

.fmy-image:before {
  content: "\e633";
}

.fmy-custom:before {
  content: "\e634";
}

.fmy-form:before {
  content: "\e635";
}

.fmy-navbar:before {
  content: "\e636";
}

.fmy-link:before {
  content: "\e637";
}

.fmy-pie:before {
  content: "\e638";
}

.fmy-qrcode:before {
  content: "\e639";
}

.fmy-input:before {
  content: "\e63a";
}

.fmy-switch:before {
  content: "\e63b";
}

.fmy-line:before {
  content: "\e63c";
}

.fmy-radio:before {
  content: "\e63d";
}

.fmy-textarea:before {
  content: "\e63e";
}

.fmy-normal:before {
  content: "\e640";
}

.fmy-multiple-select:before {
  content: "\e641";
}

.fmy-tree:before {
  content: "\e642";
}

.fmy-tag:before {
  content: "\e643";
}

.fmy-radar:before {
  content: "\e644";
}

.fmy-date-picker:before {
  content: "\e645";
}

.fmy-image-upload:before {
  content: "\e646";
}

.fmy-text:before {
  content: "\e647";
}

.fmy-tab:before {
  content: "\e648";
}

.fmy-rose:before {
  content: "\e649";
}

.fmy-table:before {
  content: "\e64a";
}

.fmy-rate:before {
  content: "\e64b";
}

.fmy-select:before {
  content: "\e64c";
}

.fmy-input-number:before {
  content: "\e64d";
}

.fmy-slider:before {
  content: "\e64e";
}

.fmy-time-picker:before {
  content: "\e64f";
}

.fmy-empty:before {
  content: "\e650";
}

.fmy-personCenter:before {
  content: "\e615";
}

.fmy-search:before {
  content: "\e68d";
}

.fmy-message:before {
  content: "\e715";
}

.fmy-badge:before {
  content: "\e749";
}

.fmy-oneToMany:before {
  content: "\e74a";
}

.fmy-cardList:before {
  content: "\e74c";
}

.fmy-progress:before {
  content: "\e74d";
}

.fmy-flowRecord:before {
  content: "\e74e";
}

.fmy-circle:before {
  content: "\e74f";
}

.fmy-pageHeader:before {
  content: "\e750";
}

.fmy-battery:before {
  content: "\e751";
}

.fmy-wifi:before {
  content: "\e752";
}

.fmy-assistConfiguration:before {
  content: "\e602";
}